.box-container-area{
    width: 80vw;
    height: calc(100vh - 200px);
    border: 2px solid black;
    background-color: aliceblue;
    margin: auto;
}

.movable-box{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    background-color: red;
    position: absolute;    
}