<mat-toolbar>
    <mat-toolbar-row>
        <!-- <div class="row">
            <div class="col">
               
            </div>
        </div> -->
        <span>Movable Box</span>
      <span class="example-spacer"></span>
      <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button> -->
    </mat-toolbar-row>
</mat-toolbar>


<div class="container">
    <div class="row">
        <div class="col" style="text-align: center;padding-top: 5vh;">
            <app-box-container></app-box-container>
        </div>
    </div>
</div>
